@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,400;1,500&family=Lato:wght@100;300&family=Montserrat:wght@300;400;500;600;700;900&family=Praise&family=Ubuntu:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,400;1,500&family=Lato:wght@100;300&family=Montserrat:wght@300;400;500;600;700;900&family=Praise&family=Varela+Round&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #46475c;
	/* background-color: antiquewhite; */
}

nav {
	font-family: "Ubuntu", sans-serif;
	position: sticky;
	top: 0;
}

nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	height: 9vh;
	background-color: black;
	color: white;
}

nav ul li {
	margin: 0 12px;
}

.brand img {
	height: 44px;
	padding: 0 8px;
}
.brand {
	display: flex;
	align-items: center;
	font-size: 1.3rem;
	font-weight: bolder;
}

.container {
	min-height: 72vh;
	background-color: black;
	color: white;
	font-family: "Varela Round", sans-serif;
	display: flex;
	margin: 23px auto;
	width: 70%;
	border-radius: 12px;
	padding: 34px;
	background-image: url("bg.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.bottom {
	position: sticky;
	bottom: 0;
	background-color: black;
	margin-top: 12px;
	height: 15vh;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.icons {
	margin-top: 14px;
}
.icons i {
	cursor: pointer;
	padding: 0 20px;
}

#myProgressBar {
	width: 80vw;
	cursor: pointer;
	height: 0.5vh;
}

.songItem {
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	color: black;
	width: 80%;
	margin: 12px 0;
	border-radius: 12px;
}

.songItemContainer {
	margin-top: 40px;
}

.songItem img {
	height: 6vh;
	border-radius: 50%;
	margin: 23px 0;
	font-family: "Varela Round", sans-serif;
}

.songlistplay i {
	cursor: pointer;
}

.timestamp {
	margin-right: 10px;
}

.songInfo {
	font-family: "Varela Round", sans-serif;
	position: absolute;
	left: 10vw;
	top: 8vh;
}
.songInfo img {
	opacity: 0;
	transition: opacity 0.3s ease-in;
}

@media only screen and (max-width: 1300px) {
	body {
		background-color: yellow;
	}
	.container {
		width: 50%;
		background-image: none;
		align-items: center;
		justify-content: center;
	}
	.container h2 {
		margin-right: 20px auto;
		display: flex;
		justify-content: center;
	}
	.songItem {
		width: 40vw;
		height: 60px;
	}
	.songItem img {
		height: 95%;
	}
}

@media only screen and (max-width: 610px) {
	body {
		background-color: red;
	}
	.brand {
		font-size: small;
	}
	.brand img {
		height: 5vh;
	}
	ul li {
		font-size: smaller;
	}
	.container {
		width: 60%;
	}
	.container h2 {
		font-size: medium;
	}
	.songItem {
		border-radius: 12px;
		font-size: 15px;
	}
	.songlistplay {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin: 2px 0;
	}
	.timestamp {
		font-size: 13px;
	}
	.songlistplay i {
		margin-top: 3px;
	}
	.songItem {
		width: 50vw;
		height: 40px;
		justify-content: space-evenly;
	}
	.songItem img {
		height: 80%;
	}
	.songName {
		font-size: 10px;
		font-weight: bolder;
	}
	.bottom {
		height: 23vh;
		word-wrap: break-word;
	}
	.icons {
		margin-top: 13px;
		font-size: small;
		margin-left: 10px;
	}
	#myProgressBar {
		width: 60vw;
	}
	.songInfo {
		position: relative;
		font-size: smaller;
		top: 1vh;
		left: -9px;
	}
	.songInfo img {
		width: 20px;
	}
}
